/*
 * Font luciole : https://luciole-vision.com/ Laurent Bourcellier & Jonathan Perez
 * Licence: (CC BY 4.0)
*/
@font-face { 
    font-family: Luciole; 
    font-weight: bold;
    font-style: normal;
    src: url('./fonts/Luciole-Bold.woff2')  format('woff2');
}

@font-face { 
    font-family: Luciole; 
    font-weight: normal;
    font-style: normal;
    src: url('./fonts/Luciole-Regular.woff2') format('woff2'); 
}

@font-face { 
    font-family: Luciole; 
    font-weight: bold;
    font-style: italic;
    src: url('./fonts/Luciole-Bold-Italic.woff2')  format('woff2');
}

@font-face { 
    font-family: Luciole; 
    font-weight: normal;
    font-style: italic;
    src: url('./fonts/Luciole-Regular-Italic.woff2')  format('woff2');
}
/*
 * End of font luciole
 */
