@import "luciole.css";

:root{
    --default-background: #282e33;
    --default-text-color: #16a085;
}

body {
    font-family: 'Luciole', sans-serif;
    font-size: 1.25rem;
    margin: 0px;  
}

body > div {
    min-height: 100vh;
    min-width: 100vw;
}

.container-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
  }
  
  .item{
    flex-grow: 0;
    margin: 0px;
    border-radius: 0px;
    margin-left: 0px;
    align-self: center;
  }

  .align-center {
    display: flex;
    justify-content: center;
  }

  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
  }

  h2 {
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.5rem;
  }

  h3 {
    font-weight: bold;
    font-size: 1.25rem;
  }

  p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.25rem;
  }

  label {
    font-size: 1.25rem;
  }
